@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

#bgone {
  background-image: url('./../public/assets/bgs/bgone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
